// #reserve {
//     @include sp {
//         width: 20%;
//     }
// }

.reserve-wrap {
    width: 100%;
    // @include sp {
    //     width: 50%;
    // }
}

.reserve-bar {
    width: 1080px;
    margin: 17.1rem auto;
    content: "";
    border-top: 1px solid #7070704D;
    @include sp {
        width: 334px;
    }
}

.reserve-menu {
    display: flex;
    justify-content: space-between;
    margin: 62px auto;
    @include sp {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.store-name {
    font-size: 3.2rem;
    color: #7070704D;
    @include sp {
        margin-top: 62px;
    }
}


i {
    color: black;
    background-size: 10px;
    margin-left: 10px;
    @include sp {
        
    }
}

.reserve-icon {
    padding: 10px 41px;
    border: 1px solid #707070;
    color: #707070;
    letter-spacing: 0.18rem;
    text-align: center;
}